doctype html5
html
  head
    title iMinds Media Innovation Center - MediaIdea
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='stylesheets/new.css')
    //link(rel='stylesheet', href='stylesheets/fonts.css', type='text/css', charset='utf-8')
    //
       Social metadata properties
        <meta property="og:title" content="Your idea brought to life - iMinds Media Innovation Center" />
        <meta property="og:image" content="http://localhost:8000/img/agora.png" />
        <meta property="og:description" content="Wij transformeren stap voor stap jouw idee tot een innoverend mediaproject. Bekijk hier de presentaties en filmpjes van het Idea Brought To Life event door iMinds Media Innovation Center." />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@mixbe">
        <meta name="twitter:title" content="Your Idea Brought To Life">
        <meta name="twitter:description" content="Wij transformeren stap voor stap jouw idee tot een innoverend mediaproject. Bekijk hier de presentaties en filmpjes van het Idea Brought To Life event door iMinds Media Innovation Center.">
        <meta name="twitter:creator" content="@mixbe">
        <meta name="twitter:image:src" content="http://yourideabroughttolife.be/img/agora.png">
        <meta name="twitter:domain" content="www.yourideabroughttolife.be">

    script.
        Data = {};

        Data.phrases = !{JSON.stringify(phrases)};
  body
    #generator.section
      .h1Container
        h1 #MediaIdea
        p.subHeader Generate your own media idea!
      #mediaIdea
        p#subject A platform
        p#preposition that
        p#action enables loyal tv watchers
        //p#connection to
        p#goal earn money by sharing comments
      #btn_generate.tapButton
        span Generate another MediaIdea
      #btn_better.tapButton
        span Do you have a better idea?
      br
      br
    #contact.section.invisible
      a(name='findus')
      .contentContainer
        p.commInfo Heb je een innovatief media idee? Wacht niet langer en contacteer zeker het MiX!
        br
        p.communication
          a(href='mailto:mix@iminds.be')
            img(src='img/mail.png')
            | mix@iminds.be
        p.communication
          a(href='tel:003293314845', style='color: #494949;')
            img(src='img/phone.png')
            | 09 331 48 45
        p.communication
          a(href='https://twitter.com/mixbe')
            img(src='img/twitter.png')
            | @mixbe
        p.communication
          a(href='http://www.iminds.be/nl')
            img(src='img/gear.png')
            | iMinds
        p.commInfo Steven is uw man!
        br
        br
    script(src='vendor/jquery-1.11.1.min.js')
    script(src='vendor/fastclick.js')
    script(src='vendor/gsap/TweenLite.min.js')
    script(src='vendor/gsap/CSSPlugin.min.js')
    script(src='vendor/gsap/ScrollToPlugin.min.js')
    script(src='vendor/gsap/EasePack.min.js')
    script(src='javascripts/index.js')
